@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background: url("/images/back.png") no-repeat;
  background-size: 100%;
  background-color: #f8f8f8;
}

li,
a {
  color: black;
  text-decoration: none;
}

header {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5%;
  background-color: #f8f8f8;
}

.logo {
  height: 64px;
  cursor: pointer;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  position: relative;
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 3px;
  background: #00ea8b;
  border-radius: 40px;
  transform: scaleX(0);
  transition: transform 0.2s;
}

.nav_links li:hover::after {
  transform: scaleX(1);
}

.home {
  margin-top: 30px;
  padding: 15px 9%;
  padding-bottom: 15%;
}

.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 15px;
}

.box-container .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 15px 10px;
}

.text {
  font-size: 16px;
  font-weight: normal;
}

.btn {
  cursor: pointer;
  background-color: #00ea8b;
  border: none;
  padding: 10px 70px;
  color: white;
  border-radius: 6px;
  transition: 0.3s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.14);
}
.btn:active {
  background-color: #00c576;
}
.map {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fotos {
  margin-top: -40px;
  padding: 15px 9%;
}
.texto {
  display: flex;
  justify-content: center;
}

.slider {
  margin-top: -80px;
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.images {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 700px;
}

.slide {
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  width: 100%;
  border-radius: 10px;
}
.on {
  opacity: 1;
}

#prev-btn,
#next-btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
}

#prev-btn img,
#next-btn img {
  width: 100%;
  height: 100%;
}

#prev-btn {
  transform: rotate(180deg);
}

.btnblog {
  margin-top: -70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects {
  margin-top: 100px;
  padding: 15px 9%;
  padding-bottom: 8%;
}

.img1 {
  border-radius: 10px;
  margin-bottom: 10px;
}

.btnsm {
  margin-top: 10px;
}

.texto1 {
  margin-bottom: 20px;
}

.sm-container {
  margin-top: -160px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.sm-container.active {
  opacity: 1;
  pointer-events: auto;
}

.sm-container .popup-box {
  padding: 20px;
  width: 500px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup-box .btnclose {
  margin-top: 20px;
  width: 100%;
}

.popup-box h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.sm-container2 {
  margin-top: -160px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.sm-container2.active {
  opacity: 1;
  pointer-events: auto;
}

.sm-container2 .popup-box {
  padding: 20px;
  width: 500px;
  background: white;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.email {
  margin-top: 100px;
  padding: 15px 9%;
  padding-bottom: 8%;
}

.container-form {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
form {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

form input,
form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #f8f8f8;
  font-size: 16px;
  border-radius: 6px;
}

form button {
  margin-top: 10px;
}
